.navbar-brand{
   
    font-size: 20px;
    margin-bottom: -20px;
}
.nav-link{
    
    font-size: 18px;
}
#navg{
    background-color: rgb(8, 135, 151);
}
@media  screen and (min-width:480px)and (max-width:767px) {
    #brand{
        margin-right: 305px;
        
    }
    .navbar{
        padding: 10px;
    }
}